USE [master]
GO
/****** Object:  Database [bzi_bios]    Script Date: 02/18/2026 18:45 ******/
CREATE DATABASE [bzi_bios]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'etimetracklite1_Data', FILENAME = N'E:\eBioServerNew\DBFiles\eBioserverNew.mdf' , SIZE = 7616KB , MAXSIZE = UNLIMITED, FILEGROWTH = 80KB )
 LOG ON 
( NAME = N'etimetracklite1_Log', FILENAME = N'E:\eBioServerNew\DBFiles\eBioserverNew_1.ldf' , SIZE = 4211392KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bzi_bios].[dbo].[sp_fulltext_database] @action = 'disable'
end
GO
USE [bzi_bios]
GO
/****** Object:  User [test]    Script Date: 02/18/2026 18:45 ******/
CREATE USER [test] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [mobile]    Script Date: 02/18/2026 18:45 ******/
CREATE USER [mobile] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [bio]    Script Date: 02/18/2026 18:45 ******/
CREATE USER [bio] FOR LOGIN [bio] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [ASPNET]    Script Date: 02/18/2026 18:45 ******/
CREATE USER [ASPNET] WITH DEFAULT_SCHEMA=[ASPNET]
GO
ALTER ROLE [db_owner] ADD MEMBER [mobile]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [mobile]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [mobile]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [mobile]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [mobile]
GO
ALTER ROLE [db_datareader] ADD MEMBER [mobile]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [mobile]
GO
ALTER ROLE [db_owner] ADD MEMBER [bio]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [bio]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [bio]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [bio]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [bio]
GO
ALTER ROLE [db_datareader] ADD MEMBER [bio]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [bio]
GO
/****** Object:  Schema [ASPNET]    Script Date: 02/18/2026 18:45 ******/
CREATE SCHEMA [ASPNET]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 02/18/2026 18:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeId] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeName] [nvarchar](250) NOT NULL,
	[EmployeeCode] [nvarchar](250) NOT NULL,
	[StringCode] [nvarchar](250) NOT NULL,
	[NumericCode] [int] NOT NULL,
	[EmployeeRFIDNumber] [nvarchar](255) NULL,
	[EmployeeDevicePassword] [nvarchar](250) NULL,
	[VerificationType] [nvarchar](3) NULL,
	[Role] [nvarchar](15) NULL,
	[Department] [nvarchar](50) NULL,
	[LastPunch] [datetime] NULL,
	[LastPunchDeviceId] [int] NULL,
	[LastPunchDirection] [nvarchar](50) NULL,
	[ExpiryFrom] [nvarchar](20) NULL,
	[ExpiryTo] [nvarchar](20) NULL,
	[GroupId] [nvarchar](50) NULL,
	[AttendanceLocation] [nvarchar](250) NULL,
	[Designation] [nvarchar](50) NULL,
	[DefaultShiftCode] [nvarchar](50) NULL,
	[ReportingTo] [nvarchar](500) NULL,
	[WeeklyOff1] [nvarchar](50) NULL,
	[WeeklyOff2] [nvarchar](50) NULL,
	[WeeklyOffDays] [nvarchar](50) NULL,
	[AllPunchConsideration] [nvarchar](50) NULL,
	[WorkStatus] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[OverTimeApplicable] [nvarchar](1) NULL,
	[AttendanceLocationId] [int] NULL,
	[Location] [ntext] NULL,
 CONSTRAINT [PK__Employees__00DFECCE] PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_AttendanceLogs]    Script Date: 02/18/2026 18:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_AttendanceLogs]
AS
SELECT     dbo.Employees.EmployeeName, dbo.Employees.EmployeeCode, dbo.Employees.StringCode, dbo.Employees.NumericCode, dbo.Employees.Gender, 
                      dbo.Employees.Designation, dbo.Employees.DOJ, dbo.Employees.DOR, dbo.Employees.DOC, dbo.Employees.EmployementType, 
                      dbo.Employees.Status AS EmployeesStatus, dbo.Shifts.ShiftFName, dbo.Shifts.ShiftSName, dbo.Shifts.BeginTime, dbo.Shifts.EndTime, 
                      dbo.Shifts.Break1, dbo.Shifts.Break2, dbo.Shifts.Break1BeginTime, dbo.Shifts.Break2BeginTime, dbo.Shifts.Break1EndTime, 
                      dbo.Shifts.Break2EndTime, dbo.Departments.DepartmentId, dbo.Categories.CategoryId, dbo.Companies.CompanyId, dbo.Companies.CompanySName, 
                      dbo.Categories.CategorySName, dbo.Departments.DepartmentSName, dbo.AttendanceLogs.AttendanceLogId, dbo.AttendanceLogs.AttendanceDate, 
                      dbo.AttendanceLogs.EmployeeId, dbo.AttendanceLogs.InTime, dbo.AttendanceLogs.InDeviceId, dbo.AttendanceLogs.OutTime, 
                      dbo.AttendanceLogs.OutDeviceId, dbo.AttendanceLogs.Duration, dbo.AttendanceLogs.LateBy, dbo.AttendanceLogs.EarlyBy, 
                      dbo.AttendanceLogs.IsOnLeave, dbo.AttendanceLogs.LeaveType, dbo.AttendanceLogs.LeaveDuration, dbo.AttendanceLogs.WeeklyOff, 
                      dbo.AttendanceLogs.Holiday, dbo.AttendanceLogs.LeaveRemarks, dbo.AttendanceLogs.PunchRecords, dbo.AttendanceLogs.ShiftId, 
                      dbo.AttendanceLogs.Present, dbo.AttendanceLogs.Absent, dbo.AttendanceLogs.Status, dbo.AttendanceLogs.StatusCode, dbo.AttendanceLogs.P1Status, 
                      dbo.AttendanceLogs.P2Status, dbo.AttendanceLogs.P3Status, dbo.AttendanceLogs.IsonSpecialOff, dbo.AttendanceLogs.SpecialOffType, 
                      dbo.AttendanceLogs.SpecialOffRemark, dbo.AttendanceLogs.SpecialOffDuration, dbo.AttendanceLogs.OverTime, dbo.AttendanceLogs.OverTimeE, 
                      dbo.AttendanceLogs.MissedOutPunch, dbo.AttendanceLogs.MissedInPunch, dbo.AttendanceLogs.C1, dbo.AttendanceLogs.C3, dbo.AttendanceLogs.C2, 
                      dbo.AttendanceLogs.C4, dbo.AttendanceLogs.C5, dbo.AttendanceLogs.C7
FROM         dbo.Categories INNER JOIN
                      dbo.Departments INNER JOIN
                      dbo.Companies INNER JOIN
                      dbo.AttendanceLogs INNER JOIN
                      dbo.Employees ON dbo.AttendanceLogs.EmployeeId = dbo.Employees.EmployeeId ON dbo.Companies.CompanyId = dbo.Employees.CompanyId ON 
                      dbo.Departments.DepartmentId = dbo.Employees.DepartmentId ON dbo.Categories.CategoryId = dbo.Employees.CategoryId INNER JOIN
                      dbo.Shifts ON dbo.AttendanceLogs.ShiftId = dbo.Shifts.ShiftId
GO
/****** Object:  View [dbo].[vw_EmployeeDetails]    Script Date: 02/18/2026 18:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_EmployeeDetails]
AS
SELECT     TOP 100 PERCENT dbo.Employees.EmployeeCode, dbo.Employees.EmployeeName, dbo.Employees.EmployeeCodeInDevice, 
                      dbo.Companies.CompanySName, dbo.Departments.DepartmentSName, dbo.Employees.Designation, dbo.Categories.CategorySName, 
                      dbo.Employees.Status, dbo.Employees.EmployementType, dbo.Employees.Gender, dbo.Employees.DOJ, dbo.Employees.DOC, dbo.Employees.DOR, 
                      dbo.Employees.EmployeeId, dbo.Companies.CompanyIsVisible, dbo.Employees.RecordStatus, dbo.Companies.CompanyId, 
                      dbo.Departments.DepartmentId, dbo.Categories.CategoryId, dbo.Employees.EmployeeRFIDNumber, dbo.Employees.StringCode, 
                      dbo.Employees.NumericCode, dbo.Employees.StringCode AS Expr1, dbo.Employees.NumericCode AS Expr2, dbo.Employees.DOB, 
                      dbo.Employees.FatherName, dbo.Employees.MotherName, dbo.Employees.ResidentialAddress, dbo.Employees.ContactNo, dbo.Employees.Email, 
                      dbo.Employees.DOB AS Expr3, dbo.Employees.PlaceOfBirth, dbo.Employees.Nomenee1, dbo.Employees.Nomenee2, 
                      dbo.Employees.PermanentAddress, dbo.Employees.Remarks
FROM         dbo.Categories INNER JOIN
                      dbo.Departments INNER JOIN
                      dbo.Companies INNER JOIN
                      dbo.Employees ON dbo.Companies.CompanyId = dbo.Employees.CompanyId ON dbo.Departments.DepartmentId = dbo.Employees.DepartmentId ON 
                      dbo.Categories.CategoryId = dbo.Employees.CategoryId
ORDER BY dbo.Employees.EmployeeId
GO
/****** Object:  Table [dbo].[Devices]    Script Date: 02/18/2026 18:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Devices](
	[DeviceId] [int] IDENTITY(1,1) NOT NULL,
	[DeviceName] [nvarchar](255) NOT NULL,
	[DeviceDirection] [nvarchar](255) NULL,
	[SerialNumber] [nvarchar](255) NULL,
	[TransactionStamp] [nvarchar](50) NULL,
	[LastPing] [datetime] NULL,
	[OpStamp] [nvarchar](255) NULL,
	[Timezone] [nvarchar](50) NULL,
	[ActivationCode] [nvarchar](250) NULL,
	[LastReset] [datetime] NULL,
	[DeviceType] [nvarchar](50) NULL,
	[IsAttendanceDevice] [char](1) NULL,
	[LocationId] [int] NULL,
	[WebhookSyncStatus] [char](1) NULL,
 CONSTRAINT [PK_Devices] PRIMARY KEY CLUSTERED 
(
	[DeviceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeviceLogs]    Script Date: 02/18/2026 18:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeviceLogs](
	[DeviceLogId] [bigint] IDENTITY(1,1) NOT NULL,
	[DeviceId] [int] NOT NULL,
	[EmployeeCode] [nvarchar](50) NOT NULL,
	[LogDate] [datetime] NOT NULL,
	[VerificationType] [nvarchar](3) NULL,
	[GPS] [nvarchar](100) NULL,
	[Direction] [nvarchar](50) NULL,
	[WorkCode] [nvarchar](50) NULL,
	[ParalellSyncStatus] [char](1) NULL,
	[IsAttPhoto] [char](1) NULL,
	[AttPhoto] [ntext] NULL,
	[WebhookSyncStatus] [char](1) NULL,
	[DownloadDate] [datetime] NULL,
 CONSTRAINT [PK_DeviceLogs] PRIMARY KEY CLUSTERED 
(
	[DeviceLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_DeviceLogList]    Script Date: 02/18/2026 18:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_DeviceLogList]
AS
SELECT     TOP 100 PERCENT dbo.DeviceLogs.LogDate, dbo.DeviceLogs.DeviceLogId, dbo.Employees.EmployeeId, dbo.DeviceLogs.Direction, 
                      dbo.Devices.DeviceSName, dbo.Employees.EmployeeCode, dbo.Employees.EmployeeCodeInDevice, dbo.Employees.EmployeeName, 
                      dbo.Companies.CompanySName, dbo.Departments.DepartmentSName, dbo.Categories.CategorySName, dbo.Devices.DeviceId, 
                      dbo.Employees.StringCode, dbo.Employees.NumericCode, dbo.Companies.CompanyIsVisible, dbo.Employees.Status, dbo.Employees.Designation, 
                      dbo.Employees.EmployementType, dbo.Departments.DepartmentId, dbo.Companies.CompanyId, dbo.Categories.CategoryId, dbo.DeviceLogs.UserId, 
                      dbo.Employees.RecordStatus, dbo.DeviceLogs.AttDirection
FROM         dbo.DeviceLogs INNER JOIN
                      dbo.Devices ON dbo.DeviceLogs.DeviceId = dbo.Devices.DeviceId INNER JOIN
                      dbo.Employees INNER JOIN
                      dbo.Categories ON dbo.Employees.CategoryId = dbo.Categories.CategoryId INNER JOIN
                      dbo.Companies ON dbo.Employees.CompanyId = dbo.Companies.CompanyId INNER JOIN
                      dbo.Departments ON dbo.Employees.DepartmentId = dbo.Departments.DepartmentId ON 
                      dbo.DeviceLogs.UserId = dbo.Employees.EmployeeCodeInDevice
ORDER BY dbo.DeviceLogs.LogDate DESC
GO
/****** Object:  View [dbo].[vw_EmployeeAndCategoryDetails]    Script Date: 02/18/2026 18:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_EmployeeAndCategoryDetails]
AS
SELECT     dbo.Employees.EmployeeId, dbo.Employees.EmployeeCode, dbo.Employees.CategoryId, dbo.Categories.CategoryFName, 
                      dbo.Categories.CategorySName, dbo.Categories.OTFormula, dbo.Categories.MinOT, dbo.Categories.ConsiderFirstLastPunch, 
                      dbo.Categories.GraceTime, dbo.Categories.ConsiderEarlyPunch, dbo.Categories.ConsiderLatePunch, dbo.Categories.SundayWeeklyOff, 
                      dbo.Categories.SaturdayWeeklyOff, dbo.Categories.WhichSaturday, dbo.Categories.CalculateHalfDay, dbo.Categories.HalfDayMins, 
                      dbo.Categories.CalculateAbsentDay, dbo.Categories.AbsentDayMins, dbo.Categories.DeductBreakHours, dbo.Categories.RecordStatus, 
                      dbo.Categories.C1, dbo.Categories.C2, dbo.Categories.C3, dbo.Categories.C4, dbo.Categories.C5, dbo.Categories.C6, dbo.Categories.C7, 
                      dbo.Employees.DepartmentId, dbo.Categories.TransferHPintoCompOff, dbo.Categories.TransferWOPintoCompOff, dbo.Categories.ForMissedPunch, 
                      dbo.Employees.StringCode, dbo.Employees.NumericCode, dbo.Employees.DOJ, dbo.Employees.DOC, dbo.Employees.DOR, 
                      dbo.Companies.CompanyId, dbo.Employees.Status, dbo.Employees.EmployeeName
FROM         dbo.Employees INNER JOIN
                      dbo.Categories ON dbo.Employees.CategoryId = dbo.Categories.CategoryId INNER JOIN
                      dbo.Companies ON dbo.Employees.CompanyId = dbo.Companies.CompanyId
GO
/****** Object:  View [dbo].[vw_EmployeeShiftDetails]    Script Date: 02/18/2026 18:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_EmployeeShiftDetails]
AS
SELECT     TOP 100 PERCENT dbo.EmployeeShift.EmployeeShiftId, dbo.EmployeeShift.Fromdate, dbo.EmployeeShift.Todate, dbo.Employees.EmployeeName, 
                      dbo.Shifts.ShiftSName, dbo.Departments.DepartmentSName, dbo.Companies.CompanySName, dbo.Categories.CategorySName, 
                      dbo.Employees.Designation, dbo.Employees.Status, dbo.Employees.EmployeeCode, dbo.Employees.NumericCode, dbo.Employees.StringCode, 
                      dbo.Employees.EmployementType, dbo.Companies.CompanyIsVisible, dbo.Shifts.ShiftType, dbo.Companies.CompanyId, dbo.Shifts.ShiftId, 
                      dbo.EmployeeShift.EmployeeId, dbo.Departments.DepartmentId
FROM         dbo.Employees INNER JOIN
                      dbo.EmployeeShift ON dbo.Employees.EmployeeId = dbo.EmployeeShift.EmployeeId INNER JOIN
                      dbo.Shifts ON dbo.EmployeeShift.ShiftId = dbo.Shifts.ShiftId INNER JOIN
                      dbo.Categories ON dbo.Employees.CategoryId = dbo.Categories.CategoryId INNER JOIN
                      dbo.Companies ON dbo.Employees.CompanyId = dbo.Companies.CompanyId INNER JOIN
                      dbo.Departments ON dbo.Employees.DepartmentId = dbo.Departments.DepartmentId
WHERE     (dbo.Employees.RecordStatus = 1)
ORDER BY dbo.EmployeeShift.Fromdate DESC, dbo.EmployeeShift.Todate DESC
GO
/****** Object:  Table [dbo].[Holidays]    Script Date: 02/18/2026 18:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Holidays](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NULL,
	[Name] [nvarchar](100) NULL,
	[LocationId] [int] NULL,
 CONSTRAINT [PK_Holidays] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_HoidayDetails]    Script Date: 02/18/2026 18:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_HoidayDetails]
AS
SELECT     TOP 100 PERCENT dbo.Holidays.HolidayId, dbo.Holidays.HolidayName, dbo.Holidays.HolidayDate, dbo.Holidays.Description, 
                      dbo.Holidays.CompanyId, dbo.Companies.CompanySName, dbo.Companies.CompanyIsVisible
FROM         dbo.Companies INNER JOIN
                      dbo.Holidays ON dbo.Companies.CompanyId = dbo.Holidays.CompanyId
ORDER BY dbo.Holidays.HolidayDate DESC
GO
/****** Object:  Table [dbo].[LeaveTypes]    Script Date: 02/18/2026 18:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LeaveTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NULL,
	[Name] [nvarchar](100) NULL,
	[YearlyLimit] [float] NULL,
 CONSTRAINT [PK_LeaveTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_LeaveEntries]    Script Date: 02/18/2026 18:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_LeaveEntries]
AS
SELECT     TOP 100 PERCENT dbo.LeaveEntries.LeaveEntryId, dbo.LeaveTypes.LeaveTypeSName, dbo.LeaveEntries.LeaveStatus, dbo.LeaveEntries.FromDate, 
                      dbo.LeaveEntries.ToDate, dbo.Employees.EmployeeName, dbo.Companies.CompanySName, dbo.Categories.CategorySName, 
                      dbo.Departments.DepartmentSName, dbo.Employees.Status, dbo.Employees.EmployeeCode, dbo.Employees.Designation, 
                      dbo.Employees.EmployementType, dbo.Companies.CompanyIsVisible, dbo.Companies.CompanyId, dbo.Employees.EmployeeId, 
                      dbo.Employees.RecordStatus, dbo.LeaveEntries.LeaveTypeId, dbo.Departments.DepartmentId, dbo.LeaveEntries.Remarks, 
                      dbo.LeaveEntries.IsApproved, dbo.Employees.StringCode, dbo.Employees.NumericCode
FROM         dbo.Employees INNER JOIN
                      dbo.LeaveEntries ON dbo.Employees.EmployeeId = dbo.LeaveEntries.EmployeeId INNER JOIN
                      dbo.LeaveTypes ON dbo.LeaveEntries.LeaveTypeId = dbo.LeaveTypes.LeaveTypeId INNER JOIN
                      dbo.Categories ON dbo.Employees.CategoryId = dbo.Categories.CategoryId INNER JOIN
                      dbo.Companies ON dbo.Employees.CompanyId = dbo.Companies.CompanyId INNER JOIN
                      dbo.Departments ON dbo.Employees.DepartmentId = dbo.Departments.DepartmentId
ORDER BY dbo.LeaveEntries.FromDate DESC, dbo.LeaveEntries.ToDate DESC
GO
/****** Object:  View [dbo].[vw_MultiShiftDetails]    Script Date: 02/18/2026 18:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_MultiShiftDetails]
AS
SELECT     dbo.ExtraHourshift.*, dbo.Employees.EmployeeName AS EmployeeName, dbo.Employees.EmployeeCode AS EmployeeCode, 
                      Employees_1.EmployeeName AS OnBehalfEmployeeName, dbo.Employees.NumericCode, dbo.Employees.StringCode, 
                      Employees_1.EmployeeCode AS OnBehalfEmployeeCode, dbo.Companies.CompanyId, dbo.Companies.CompanyIsVisible
FROM         dbo.Employees INNER JOIN
                      dbo.ExtraHourshift ON dbo.Employees.EmployeeId = dbo.ExtraHourshift.EmployeeId INNER JOIN
                      dbo.Employees Employees_1 ON dbo.ExtraHourshift.OnBehalfEmployeeId = Employees_1.EmployeeId INNER JOIN
                      dbo.Companies ON dbo.Employees.CompanyId = dbo.Companies.CompanyId INNER JOIN
                      dbo.Companies Companies_1 ON Employees_1.CompanyId = Companies_1.CompanyId
WHERE     (dbo.Employees.RecordStatus = 1) AND (Employees_1.RecordStatus = 1)
GO
/****** Object:  View [dbo].[vw_SpecialEntries]    Script Date: 02/18/2026 18:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_SpecialEntries]
AS
SELECT     TOP 100 PERCENT dbo.SpecialEntries.FromDate, dbo.SpecialEntries.ToDate, dbo.SpecialEntries.SpecialType, dbo.SpecialEntries.SpecialEntryStatus, 
                      dbo.Employees.EmployeeName, dbo.SpecialEntries.SpecialEntryId, dbo.Employees.Designation, dbo.Categories.CategorySName, 
                      dbo.Companies.CompanySName, dbo.Departments.DepartmentSName, dbo.Employees.Status, dbo.Employees.NumericCode, 
                      dbo.Employees.StringCode, dbo.Employees.EmployeeCode, dbo.Employees.EmployementType, dbo.Companies.CompanyIsVisible, 
                      dbo.SpecialEntries.Duration, dbo.Companies.CompanyId, dbo.Departments.DepartmentId, dbo.Employees.EmployeeId, dbo.SpecialEntries.Remarks, 
                      dbo.SpecialEntries.IsApproved, dbo.SpecialEntries.BeginTime, dbo.SpecialEntries.EndTime
FROM         dbo.SpecialEntries INNER JOIN
                      dbo.Employees ON dbo.SpecialEntries.EmployeeId = dbo.Employees.EmployeeId INNER JOIN
                      dbo.Categories ON dbo.Employees.CategoryId = dbo.Categories.CategoryId INNER JOIN
                      dbo.Companies ON dbo.Employees.CompanyId = dbo.Companies.CompanyId INNER JOIN
                      dbo.Departments ON dbo.Employees.DepartmentId = dbo.Departments.DepartmentId
WHERE     (dbo.Employees.RecordStatus = 1)
ORDER BY dbo.SpecialEntries.FromDate DESC, dbo.SpecialEntries.ToDate DESC
GO
/****** Object:  View [dbo].[vw_CompanyDepartmentShifts]    Script Date: 02/18/2026 18:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_CompanyDepartmentShifts]
AS
SELECT     dbo.Departments.DepartmentSName, dbo.Shifts.ShiftSName, dbo.Shifts.ShiftType, dbo.Companies.CompanySName, 
                      dbo.CompanyDepartmentShifts.FromDate, dbo.CompanyDepartmentShifts.ToDate, dbo.CompanyDepartmentShifts.CompanyDepartmentShiftId, 
                      dbo.CompanyDepartmentShifts.LastModifiedDate, dbo.Companies.CompanyId, dbo.Departments.DepartmentId, dbo.Shifts.ShiftId
FROM         dbo.Departments INNER JOIN
                      dbo.Shifts INNER JOIN
                      dbo.Companies INNER JOIN
                      dbo.CompanyDepartmentShifts ON dbo.Companies.CompanyId = dbo.CompanyDepartmentShifts.CompanyId ON 
                      dbo.Shifts.ShiftId = dbo.CompanyDepartmentShifts.ShiftId ON dbo.Departments.DepartmentId = dbo.CompanyDepartmentShifts.DepartmentId
WHERE     (dbo.Departments.RecordStatus = 1) AND (dbo.Companies.RecordStatus = 1)
GO
/****** Object:  View [dbo].[vw_ShiftCalendarShifts]    Script Date: 02/18/2026 18:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_ShiftCalendarShifts]
AS
SELECT     TOP 100 PERCENT dbo.Shifts.ShiftSName, dbo.ShiftCalendarShifts.ShiftCalendarShiftId, dbo.ShiftCalendarShifts.ShiftCalendarId, 
                      dbo.ShiftCalendarShifts.ShiftId, dbo.ShiftCalendarShifts.ShiftDate
FROM         dbo.Shifts INNER JOIN
                      dbo.ShiftCalendarShifts ON dbo.Shifts.ShiftId = dbo.ShiftCalendarShifts.ShiftId
ORDER BY dbo.ShiftCalendarShifts.ShiftDate
GO
/****** Object:  Table [dbo].[AttendanceRegister]    Script Date: 02/18/2026 18:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AttendanceRegister](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NULL,
	[Date] [datetime] NULL,
	[ApprovedDuration] [nvarchar](50) NULL,
	[ApprovedOverTime] [nvarchar](50) NULL,
 CONSTRAINT [PK_AttendanceRegister] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CompOffs]    Script Date: 02/18/2026 18:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompOffs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NULL,
	[Date] [datetime] NULL,
	[Duration] [nvarchar](50) NULL,
	[Remarks] [nvarchar](500) NULL,
	[AppliedDate] [datetime] NULL,
	[ApprovedById] [int] NULL,
	[ApprovedDate] [datetime] NULL,
	[Status] [nvarchar](50) NULL,
 CONSTRAINT [PK_CompOffs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeviceCommands]    Script Date: 02/18/2026 18:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeviceCommands](
	[DeviceCommandId] [int] IDENTITY(1,1) NOT NULL,
	[DeviceId] [int] NULL,
	[Title] [nvarchar](255) NULL,
	[DeviceCommand] [ntext] NULL,
	[Status] [nvarchar](255) NULL,
	[Type] [nvarchar](255) NULL,
	[CreationDate] [datetime] NULL,
	[ExecutionDate] [datetime] NULL,
	[DeviceCommandFace] [ntext] NULL,
 CONSTRAINT [DeviceCommands_PK] PRIMARY KEY CLUSTERED 
(
	[DeviceCommandId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeviceEmployees]    Script Date: 02/18/2026 18:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeviceEmployees](
	[DeviceEmployeeId] [bigint] IDENTITY(1,1) NOT NULL,
	[DeviceId] [int] NULL,
	[EmployeeId] [int] NULL,
	[Role] [nvarchar](50) NULL,
	[Command] [nvarchar](50) NULL,
	[Status] [nvarchar](50) NULL,
	[SyncDate] [nvarchar](50) NULL,
	[EmployeeCode] [nvarchar](50) NULL,
	[IsDirtyDateTime] [datetime] NULL,
 CONSTRAINT [PK_DeviceEmployees] PRIMARY KEY CLUSTERED 
(
	[DeviceEmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeviceGroups]    Script Date: 02/18/2026 18:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeviceGroups](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DeviceId] [int] NOT NULL,
	[GroupId] [int] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[VerificationTypeCode] [nvarchar](3) NULL,
	[IsHolidayApplicable] [char](1) NULL,
	[TimePeriod1] [int] NULL,
	[TimePeriod2] [int] NULL,
	[TimePeriod3] [int] NULL,
	[Status] [nvarchar](50) NULL,
	[SyncDate] [nvarchar](50) NULL,
	[IsDirtyDateTime] [datetime] NULL,
 CONSTRAINT [PK_DeviceGroups] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeviceIllegalLogs]    Script Date: 02/18/2026 18:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeviceIllegalLogs](
	[DeviceIllegallLogId] [bigint] IDENTITY(1,1) NOT NULL,
	[DeviceId] [int] NOT NULL,
	[EmployeeCode] [nvarchar](50) NOT NULL,
	[LogDate] [datetime] NOT NULL,
	[AttPhoto] [ntext] NULL,
 CONSTRAINT [PK_DeviceIllegalLogs] PRIMARY KEY CLUSTERED 
(
	[DeviceIllegallLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeviceOPLogs]    Script Date: 02/18/2026 18:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeviceOPLogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DeviceId] [int] NULL,
	[OPCode] [nvarchar](50) NULL,
	[OPLogDate] [datetime] NULL,
 CONSTRAINT [PK_DeviceOPLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeviceTimePeriods]    Script Date: 02/18/2026 18:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeviceTimePeriods](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DeviceId] [int] NOT NULL,
	[TimePeriodId] [int] NULL,
	[Name] [nvarchar](50) NULL,
	[Sunday] [char](11) NOT NULL,
	[Monday] [char](11) NULL,
	[Tuesday] [char](11) NULL,
	[Wednesday] [char](11) NULL,
	[Thursday] [char](11) NULL,
	[Friday] [char](11) NULL,
	[Saturday] [char](11) NULL,
	[Status] [nvarchar](50) NULL,
	[SyncDate] [nvarchar](50) NULL,
	[IsDirtyDateTime] [datetime] NULL,
 CONSTRAINT [PK_DeviceTimePeriods] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeviceVisitorCards]    Script Date: 02/18/2026 18:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeviceVisitorCards](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DeviceId] [int] NULL,
	[VisitorCardId] [int] NULL,
	[Command] [nvarchar](50) NULL,
	[Status] [nvarchar](50) NULL,
	[SyncDate] [nvarchar](50) NULL,
	[VisitorCardCode] [nvarchar](50) NULL,
	[IsDirtyDateTime] [datetime] NULL,
 CONSTRAINT [PK_DeviceVisitorCards] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[django_migrations]    Script Date: 02/18/2026 18:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[django_migrations](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[app] [nvarchar](255) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[applied] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeLeaveLimits]    Script Date: 02/18/2026 18:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeLeaveLimits](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NULL,
	[Year] [int] NULL,
	[LeaveTypeId] [int] NULL,
	[AllowedLimit] [float] NULL,
 CONSTRAINT [PK_EmployeeLeaveLimits] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeManagers]    Script Date: 02/18/2026 18:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeManagers](
	[EmployeeId] [int] NOT NULL,
	[ManagerId] [int] NOT NULL,
 CONSTRAINT [PK_EmployeeManagers] PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC,
	[ManagerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeesBio]    Script Date: 02/18/2026 18:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeesBio](
	[EmployeeBioId] [bigint] IDENTITY(1,1) NOT NULL,
	[EmployeeCode] [nvarchar](50) NULL,
	[BioName] [nvarchar](50) NULL,
	[BioDescription] [nvarchar](50) NULL,
	[Bio] [ntext] NULL,
	[MinorVer] [nvarchar](50) NULL,
	[MajorVer] [nvarchar](50) NULL,
 CONSTRAINT [PK_EmployeesBio] PRIMARY KEY CLUSTERED 
(
	[EmployeeBioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Leaves]    Script Date: 02/18/2026 18:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Leaves](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NULL,
	[FromDate] [datetime] NULL,
	[ToDate] [datetime] NULL,
	[LeaveTypeId] [int] NULL,
	[Duration] [nvarchar](50) NULL,
	[Remarks] [nvarchar](500) NULL,
	[AppliedDate] [datetime] NULL,
	[ApprovedById] [int] NULL,
	[ApprovedDate] [datetime] NULL,
	[Status] [nvarchar](50) NULL,
 CONSTRAINT [PK_Leaves] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LocationEmployees]    Script Date: 02/18/2026 18:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LocationEmployees](
	[LocationId] [int] NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[Settings] [nvarchar](200) NULL,
 CONSTRAINT [PK_LocationEmployees] PRIMARY KEY CLUSTERED 
(
	[LocationId] ASC,
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Locations]    Script Date: 02/18/2026 18:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Locations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NULL,
	[Description] [nvarchar](250) NULL,
 CONSTRAINT [PK_Location] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LocationVisitorCards]    Script Date: 02/18/2026 18:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LocationVisitorCards](
	[LocationId] [int] NOT NULL,
	[VisitorCardId] [int] NOT NULL,
 CONSTRAINT [PK_LocationVisitorCards] PRIMARY KEY CLUSTERED 
(
	[LocationId] ASC,
	[VisitorCardId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MasterSettings]    Script Date: 02/18/2026 18:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MasterSettings](
	[Name] [nvarchar](50) NULL,
	[Value] [ntext] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OPCodes]    Script Date: 02/18/2026 18:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPCodes](
	[Code] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](500) NULL,
 CONSTRAINT [PK_OPCodes] PRIMARY KEY CLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OutDuties]    Script Date: 02/18/2026 18:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OutDuties](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NULL,
	[Date] [datetime] NULL,
	[Duration] [int] NULL,
	[Remarks] [nvarchar](500) NULL,
	[AppliedDate] [datetime] NULL,
	[ApprovedById] [int] NULL,
	[ApprovedDate] [datetime] NULL,
	[Status] [nvarchar](50) NULL,
 CONSTRAINT [PK_OutDuties] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PayComponents]    Script Date: 02/18/2026 18:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PayComponents](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Type] [nvarchar](50) NULL,
	[SortOrder] [int] NULL,
 CONSTRAINT [PK_PayComponents] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PayCycles]    Script Date: 02/18/2026 18:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PayCycles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[PayDate] [datetime] NULL,
	[FromDate] [datetime] NULL,
	[ToDate] [datetime] NULL,
	[Status] [nvarchar](50) NULL,
 CONSTRAINT [PK_PayCycles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaySlips]    Script Date: 02/18/2026 18:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaySlips](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NULL,
	[PayCycleId] [int] NULL,
	[GrossSalary] [nvarchar](50) NULL,
	[NetSalary] [nvarchar](50) NULL,
	[Remarks] [nvarchar](250) NULL,
	[1] [nvarchar](50) NULL,
	[2] [nvarchar](50) NULL,
	[3] [nvarchar](50) NULL,
	[4] [nvarchar](50) NULL,
	[5] [nvarchar](50) NULL,
	[6] [nvarchar](50) NULL,
	[7] [nvarchar](50) NULL,
	[8] [nvarchar](50) NULL,
	[9] [nvarchar](50) NULL,
	[10] [nvarchar](50) NULL,
	[11] [nvarchar](50) NULL,
	[12] [nvarchar](50) NULL,
	[13] [nvarchar](50) NULL,
	[14] [nvarchar](50) NULL,
	[15] [nvarchar](50) NULL,
	[16] [nvarchar](50) NULL,
	[17] [nvarchar](50) NULL,
	[18] [nvarchar](50) NULL,
	[19] [nvarchar](50) NULL,
	[20] [nvarchar](50) NULL,
	[21] [nvarchar](50) NULL,
	[22] [nvarchar](50) NULL,
	[23] [nvarchar](50) NULL,
	[24] [nvarchar](50) NULL,
	[25] [nvarchar](50) NULL,
	[26] [nvarchar](50) NULL,
	[27] [nvarchar](50) NULL,
	[28] [nvarchar](50) NULL,
	[29] [nvarchar](50) NULL,
	[30] [nvarchar](50) NULL,
	[31] [nvarchar](50) NULL,
	[32] [nvarchar](50) NULL,
	[33] [nvarchar](50) NULL,
	[34] [nvarchar](50) NULL,
	[35] [nvarchar](50) NULL,
	[36] [nvarchar](50) NULL,
	[37] [nvarchar](50) NULL,
	[38] [nvarchar](50) NULL,
	[39] [nvarchar](50) NULL,
	[40] [nvarchar](50) NULL,
	[41] [nvarchar](50) NULL,
	[42] [nvarchar](50) NULL,
	[43] [nvarchar](50) NULL,
	[44] [nvarchar](50) NULL,
	[45] [nvarchar](50) NULL,
	[46] [nvarchar](50) NULL,
	[47] [nvarchar](50) NULL,
	[48] [nvarchar](50) NULL,
	[49] [nvarchar](50) NULL,
	[50] [nvarchar](50) NULL,
 CONSTRAINT [PK_PaySlips] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalaryStructures]    Script Date: 02/18/2026 18:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalaryStructures](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NULL,
	[EffectiveDate] [datetime] NULL,
	[GrossSalary] [nvarchar](50) NULL,
	[NetSalary] [nvarchar](50) NULL,
	[Remarks] [nvarchar](250) NULL,
	[1] [nvarchar](50) NULL,
	[2] [nvarchar](50) NULL,
	[3] [nvarchar](50) NULL,
	[4] [nvarchar](50) NULL,
	[5] [nvarchar](50) NULL,
	[6] [nvarchar](50) NULL,
	[7] [nvarchar](50) NULL,
	[8] [nvarchar](50) NULL,
	[9] [nvarchar](50) NULL,
	[10] [nvarchar](50) NULL,
	[11] [nvarchar](50) NULL,
	[12] [nvarchar](50) NULL,
	[13] [nvarchar](50) NULL,
	[14] [nvarchar](50) NULL,
	[15] [nvarchar](50) NULL,
	[16] [nvarchar](50) NULL,
	[17] [nvarchar](50) NULL,
	[18] [nvarchar](50) NULL,
	[19] [nvarchar](50) NULL,
	[20] [nvarchar](50) NULL,
	[21] [nvarchar](50) NULL,
	[22] [nvarchar](50) NULL,
	[23] [nvarchar](50) NULL,
	[24] [nvarchar](50) NULL,
	[25] [nvarchar](50) NULL,
	[26] [nvarchar](50) NULL,
	[27] [nvarchar](50) NULL,
	[28] [nvarchar](50) NULL,
	[29] [nvarchar](50) NULL,
	[30] [nvarchar](50) NULL,
	[31] [nvarchar](50) NULL,
	[32] [nvarchar](50) NULL,
	[33] [nvarchar](50) NULL,
	[34] [nvarchar](50) NULL,
	[35] [nvarchar](50) NULL,
	[36] [nvarchar](50) NULL,
	[37] [nvarchar](50) NULL,
	[38] [nvarchar](50) NULL,
	[39] [nvarchar](50) NULL,
	[40] [nvarchar](50) NULL,
	[41] [nvarchar](50) NULL,
	[42] [nvarchar](50) NULL,
	[43] [nvarchar](50) NULL,
	[44] [nvarchar](50) NULL,
	[45] [nvarchar](50) NULL,
	[46] [nvarchar](50) NULL,
	[47] [nvarchar](50) NULL,
	[48] [nvarchar](50) NULL,
	[49] [nvarchar](50) NULL,
	[50] [nvarchar](50) NULL,
 CONSTRAINT [PK_SalaryStructures] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShiftSchedule]    Script Date: 02/18/2026 18:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShiftSchedule](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NULL,
	[EmployeeId] [int] NULL,
	[Day31] [nvarchar](5) NULL,
	[Day30] [nvarchar](5) NULL,
	[Day29] [nvarchar](5) NULL,
	[Day28] [nvarchar](5) NULL,
	[Day27] [nvarchar](5) NULL,
	[Day26] [nvarchar](5) NULL,
	[Day25] [nvarchar](5) NULL,
	[Day24] [nvarchar](5) NULL,
	[Day23] [nvarchar](5) NULL,
	[Day22] [nvarchar](5) NULL,
	[Day21] [nvarchar](5) NULL,
	[Day20] [nvarchar](5) NULL,
	[Day19] [nvarchar](5) NULL,
	[Day18] [nvarchar](5) NULL,
	[Day17] [nvarchar](5) NULL,
	[Day16] [nvarchar](5) NULL,
	[Day15] [nvarchar](5) NULL,
	[Day14] [nvarchar](5) NULL,
	[Day13] [nvarchar](5) NULL,
	[Day12] [nvarchar](5) NULL,
	[Day11] [nvarchar](5) NULL,
	[Day10] [nvarchar](5) NULL,
	[Day9] [nvarchar](5) NULL,
	[Day8] [nvarchar](5) NULL,
	[Day7] [nvarchar](5) NULL,
	[Day6] [nvarchar](5) NULL,
	[Day5] [nvarchar](5) NULL,
	[Day4] [nvarchar](5) NULL,
	[Day3] [nvarchar](5) NULL,
	[Day2] [nvarchar](5) NULL,
	[Day1] [nvarchar](5) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShiftTypes]    Script Date: 02/18/2026 18:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShiftTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NULL,
	[Name] [nvarchar](50) NULL,
	[BeginTime] [nvarchar](50) NULL,
	[EndTime] [nvarchar](50) NULL,
	[PartialDay] [nvarchar](1) NULL,
	[PartialDayBeginTime] [nvarchar](50) NULL,
	[PartialDayEndTime] [nvarchar](50) NULL,
	[FullDayDuration] [int] NULL,
	[PartialDayDuration] [int] NULL,
	[PunchBeginBefore] [int] NULL,
	[PunchEndAfter] [int] NULL,
	[LocationId] [int] NULL,
 CONSTRAINT [PK_ShiftTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserLocations]    Script Date: 02/18/2026 18:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserLocations](
	[UserId] [int] NOT NULL,
	[LocationId] [int] NOT NULL,
 CONSTRAINT [PK_UserLocations] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LocationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 02/18/2026 18:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[LoginName] [nvarchar](250) NOT NULL,
	[LoginPassword] [nvarchar](250) NULL,
	[RoleName] [nvarchar](255) NULL,
	[Permissions] [nvarchar](2000) NULL,
	[Locations] [nvarchar](max) NULL,
	[Blocked] [nvarchar](50) NULL,
	[StrongPassword] [char](1) NULL,
	[BlockInvalidLogin] [char](1) NULL,
	[AuthToken] [nvarchar](50) NULL,
	[Expiry] [nvarchar](50) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VerificationType]    Script Date: 02/18/2026 18:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VerificationType](
	[Code] [nvarchar](3) NULL,
	[Name] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VisitorCards]    Script Date: 02/18/2026 18:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VisitorCards](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[ExpiryFrom] [nvarchar](50) NULL,
	[ExpiryTo] [nvarchar](50) NULL,
	[LocationId] [int] NULL,
	[CardNumber] [nvarchar](50) NULL,
	[Location] [ntext] NULL,
 CONSTRAINT [PK_VisitorCards] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VisitorDesks]    Script Date: 02/18/2026 18:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VisitorDesks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[LoginName] [nvarchar](500) NULL,
	[Password] [nvarchar](500) NULL,
	[LocationId] [int] NULL,
	[UUID] [nvarchar](10) NULL,
 CONSTRAINT [PK_VisitorDesks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VisitorLogs]    Script Date: 02/18/2026 18:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VisitorLogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[ContactNumber] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[LocationId] [int] NULL,
	[Purpose] [nvarchar](250) NULL,
	[ToMeetId] [int] NULL,
	[VisitorDeskId] [int] NULL,
	[VisitorCardId] [int] NULL,
	[Company] [nvarchar](250) NULL,
	[Designation] [nvarchar](50) NULL,
	[InDate] [datetime] NULL,
	[OutDate] [datetime] NULL,
	[Remarks] [nvarchar](500) NULL,
	[Status] [nvarchar](3) NULL,
	[Photo] [ntext] NULL,
 CONSTRAINT [PK_VisitorLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [ix_AttendanceRegister]    Script Date: 02/18/2026 18:45 ******/
CREATE NONCLUSTERED INDEX [ix_AttendanceRegister] ON [dbo].[AttendanceRegister]
(
	[EmployeeId] ASC,
	[Date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ix_CompOffs]    Script Date: 02/18/2026 18:45 ******/
CREATE NONCLUSTERED INDEX [ix_CompOffs] ON [dbo].[CompOffs]
(
	[EmployeeId] ASC,
	[Date] ASC,
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [deviceemployees]    Script Date: 02/18/2026 18:45 ******/
CREATE NONCLUSTERED INDEX [deviceemployees] ON [dbo].[DeviceEmployees]
(
	[DeviceId] ASC,
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [deviceEmployees1]    Script Date: 02/18/2026 18:45 ******/
CREATE NONCLUSTERED INDEX [deviceEmployees1] ON [dbo].[DeviceEmployees]
(
	[DeviceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [devicemployees2]    Script Date: 02/18/2026 18:45 ******/
CREATE NONCLUSTERED INDEX [devicemployees2] ON [dbo].[DeviceEmployees]
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_deviceId]    Script Date: 02/18/2026 18:45 ******/
CREATE NONCLUSTERED INDEX [idx_deviceId] ON [dbo].[DeviceGroups]
(
	[DeviceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_deviceId_GroupId]    Script Date: 02/18/2026 18:45 ******/
CREATE NONCLUSTERED INDEX [idx_deviceId_GroupId] ON [dbo].[DeviceGroups]
(
	[DeviceId] ASC,
	[GroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [indx_all]    Script Date: 02/18/2026 18:45 ******/
CREATE NONCLUSTERED INDEX [indx_all] ON [dbo].[DeviceIllegalLogs]
(
	[DeviceId] ASC,
	[EmployeeCode] ASC,
	[LogDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [devicelogs]    Script Date: 02/18/2026 18:45 ******/
CREATE NONCLUSTERED INDEX [devicelogs] ON [dbo].[DeviceLogs]
(
	[LogDate] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Devicelogs1]    Script Date: 02/18/2026 18:45 ******/
CREATE NONCLUSTERED INDEX [Devicelogs1] ON [dbo].[DeviceLogs]
(
	[EmployeeCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [indx_All]    Script Date: 02/18/2026 18:45 ******/
CREATE NONCLUSTERED INDEX [indx_All] ON [dbo].[DeviceLogs]
(
	[DeviceId] ASC,
	[EmployeeCode] ASC,
	[LogDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [indx_code_date]    Script Date: 02/18/2026 18:45 ******/
CREATE NONCLUSTERED INDEX [indx_code_date] ON [dbo].[DeviceLogs]
(
	[EmployeeCode] ASC,
	[LogDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DeviceOPLogs_DId_OPDate]    Script Date: 02/18/2026 18:45 ******/
CREATE NONCLUSTERED INDEX [IX_DeviceOPLogs_DId_OPDate] ON [dbo].[DeviceOPLogs]
(
	[DeviceId] ASC,
	[OPLogDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [devices]    Script Date: 02/18/2026 18:45 ******/
CREATE NONCLUSTERED INDEX [devices] ON [dbo].[Devices]
(
	[DeviceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_deviceId]    Script Date: 02/18/2026 18:45 ******/
CREATE NONCLUSTERED INDEX [idx_deviceId] ON [dbo].[DeviceTimePeriods]
(
	[DeviceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_deviceId_TimePeriodId]    Script Date: 02/18/2026 18:45 ******/
CREATE NONCLUSTERED INDEX [idx_deviceId_TimePeriodId] ON [dbo].[DeviceTimePeriods]
(
	[TimePeriodId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [DeviceVisitorCards_DId_VID_Status]    Script Date: 02/18/2026 18:45 ******/
CREATE NONCLUSTERED INDEX [DeviceVisitorCards_DId_VID_Status] ON [dbo].[DeviceVisitorCards]
(
	[DeviceId] ASC,
	[VisitorCardId] ASC,
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ixEmployeeLeaveLimits]    Script Date: 02/18/2026 18:45 ******/
CREATE NONCLUSTERED INDEX [ixEmployeeLeaveLimits] ON [dbo].[EmployeeLeaveLimits]
(
	[Year] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [employees]    Script Date: 02/18/2026 18:45 ******/
CREATE NONCLUSTERED INDEX [employees] ON [dbo].[Employees]
(
	[EmployeeCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [EmployeesBio]    Script Date: 02/18/2026 18:45 ******/
CREATE NONCLUSTERED INDEX [EmployeesBio] ON [dbo].[EmployeesBio]
(
	[EmployeeCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ix_leaves]    Script Date: 02/18/2026 18:45 ******/
CREATE NONCLUSTERED INDEX [ix_leaves] ON [dbo].[Leaves]
(
	[EmployeeId] ASC,
	[FromDate] ASC,
	[ToDate] ASC,
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ix_Locations_Code]    Script Date: 02/18/2026 18:45 ******/
CREATE NONCLUSTERED INDEX [ix_Locations_Code] ON [dbo].[Locations]
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ix_OutDuties]    Script Date: 02/18/2026 18:45 ******/
CREATE NONCLUSTERED INDEX [ix_OutDuties] ON [dbo].[OutDuties]
(
	[EmployeeId] ASC,
	[Date] ASC,
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SalaryStructures_EId]    Script Date: 02/18/2026 18:45 ******/
CREATE NONCLUSTERED INDEX [IX_SalaryStructures_EId] ON [dbo].[SalaryStructures]
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_ShiftSchedule]    Script Date: 02/18/2026 18:45 ******/
CREATE NONCLUSTERED INDEX [ix_ShiftSchedule] ON [dbo].[ShiftSchedule]
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_VisitorCards_LocationId]    Script Date: 02/18/2026 18:45 ******/
CREATE NONCLUSTERED INDEX [ix_VisitorCards_LocationId] ON [dbo].[VisitorCards]
(
	[LocationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ix_VisitorDesks_UUID]    Script Date: 02/18/2026 18:45 ******/
CREATE NONCLUSTERED INDEX [ix_VisitorDesks_UUID] ON [dbo].[VisitorDesks]
(
	[UUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_VisitorLogs_LId_IDate_IDate]    Script Date: 02/18/2026 18:45 ******/
CREATE NONCLUSTERED INDEX [ix_VisitorLogs_LId_IDate_IDate] ON [dbo].[VisitorLogs]
(
	[InDate] ASC,
	[OutDate] ASC,
	[LocationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DeviceLogs] ADD  DEFAULT (getdate()) FOR [DownloadDate]
GO
ALTER TABLE [dbo].[Devices] ADD  CONSTRAINT [DF__Devices__Transac__703EA55A]  DEFAULT ('0') FOR [TransactionStamp]
GO
ALTER TABLE [dbo].[Employees] ADD  CONSTRAINT [DF_Employees_EmployeeDevicePassword]  DEFAULT ('') FOR [EmployeeDevicePassword]
GO
/****** Object:  StoredProcedure [dbo].[SyncParallelDBData]    Script Date: 02/18/2026 18:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[SyncParallelDBData]( @SourceTableName nvarchar(255),@DestinationTableName nvarchar(255),@SourceDBColumns nvarchar(4000),@DestinationDBColumns nvarchar(4000),@ColumnCondition nvarchar(4000) )  as  BEGIN  DECLARE @SQL NVARCHAR(4000)  SET @SQL='Insert into '+ @DestinationTableName + '('+@DestinationDBColumns+') select '+@SourceDBColumns+' from(select UserId,DeviceSName,convert(datetime,CONVERT(VARCHAR(10),Logdate,101))  as LogDateOnly,convert(datetime,CONVERT(VARCHAR(10),Logdate,108)) as LogTimeOnly, LogDate,SerialNumber,Direction,WorkCode,row_number() over (partition by UserId, LogDate order by UserId, LogDate) as rn FROM '+@SourceTableName+',Devices WHERE Devices.DeviceId='+@SourceTableName+'.DeviceId )st where st.rn = 1 AND NOT EXISTS (SELECT 1  FROM '+ @DestinationTableName + ' t2  WHERE  '+@ColumnCondition+')'  EXEC Sp_executesql @SQL  END; 
GO
USE [master]
GO
